.footer__Contacts {
    padding-bottom: 62px;
}

.Contacts__container {
    max-width: 400px; 
  margin: 0 auto;
  padding: 0px 10px;
  text-align: center;
  justify-content: space-between;
}
.Contacts__header {
    padding: 80px 0 55px;
    font-size: 34px;
    font-weight: 700;
}
.Contacts__btn {
    position: relative;
    margin-bottom: 45px;
    width: 211px;
height: 42px;
border-radius: 25px;
background-color: black;
}
.Contacts__btn-text{
    position: absolute;
    top: 8px;
    left: 50px;
color: aliceblue;
}
.Contacts__inner {

}
.Contacts__item {

    padding-right: 30px;
}
.Contacts__item:last-child{
    padding-right: 0px;
}
.Contacts__link {
}
.Contacts__text {
    margin-top: 34px;
}