.main__portfolio {
  background-color: #F6F6F6;
  padding: 79px 0 12px;
}

.portfolio__header {
  text-align: center;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  padding-bottom: 76px;
}

.portfolio__description {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  margin: 39px 0px 95px;
}